@import '../../dijit/themes/claro/claro.css';
@import '../../esri/css/esri.css';
@import '../../agrc/resources/map/BaseMap.css';
@import '../../agrc/resources/map/BaseMapSelector.css';
@import '../../agrc/resources/locate/FindAddress.css';
@import '../../agrc/resources/locate/MagicZoom.css';
@import '../../agrc/resources/locate/ZoomToCoords.css';
@import '../../ijit/resources/notify/ChangeRequest.css';
@import '../../ijit/resources/authentication/LoginRegister.css';
@import 'SlideInSidebar.css';
@import 'DownloadSelector.css';
@import 'Editor.css';
@import 'Toaster.css';
@import 'ParcelIdentify.css';
@import '../../bootstrap/dist/css/bootstrap.css';

body, html {
    overflow: hidden;
}
.app, .agrc-container, .map-div {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.app .map-div {
    top: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    position: absolute;
}
.navbar .navbar-brand {
    font-weight: bold;
    font-size: 25px;
    color: white;
    max-width: 300px;
}
.app .version {
    font-size: 8px;
    text-decoration: none;
    letter-spacing: 0;
    vertical-align: sub
}
.navbar {
    opacity: 0.975;
}
.app .navbar-nav>.dropdown>.dropdown-menu {
    padding: 15px;
}
.app .dropdown-menu .control-group {
    margin: 0;
}
@media (min-width: 992px){
    .agrc-container {
        max-width: 100%;
    }
}
@media (min-width: 768px) {
  .agrc-container {
    max-width: 100%;
}
}
@media (min-width: 1200px) {
  .agrc-container {
    max-width: 100%;
}
}
.app .zoom-to-coordinate{
    width: 350px;
}
.app .trssearch { width: 200px }
/* map labels */
#labelLayer_layer text {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}