 .download-selector .highlight {
    display: block;
    padding: 6px 14px;
    margin-bottom: -5px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
}
.download-selector-container { 
    height: 100% !important;
    width: 100%;
    position: relative;
}
.download-selector { 
    width: 250px;
}

.download-selector .dijitContentPane {
    padding: 0;
}