.editor-divider {
    border-bottom: 2px solid #666666;
}
.editor-panel {
    position: absolute;
    border: 2px solid #666666;
    border-bottom-color: rgb(102, 102, 102);
    border-bottom-style: solid;
    border-bottom-width: 2px;
    background-color: #FFFFFF;
    color: #666666;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 5px;
    bottom: 20px;
    left: 20px;
    z-index: 30;
}
.editor-panel div {
    font-size: 18px;
    line-height: 1.428571429;
    text-align: center;
    padding: 0 5px;
}