.esriPopup .contentPane {
    overflow: hidden;
}
.slide-in-sidebar {
    height: 100%;
    position: absolute;
    top: 50px;
    bottom: 0px;
    background-color: white;
    right: -390px;
    z-index: 50;
    width: 390px;
    border-left: solid 1px #222;
    -webkit-box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.1);
         -moz-box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.1);
              box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    padding: 10px;
}
.slide-in-sidebar .close {
    position: absolute;
    right: 10px;
}
.slide-in-sidebar .atiButtons {
    height: 80px;
}
.slide-in-sidebar .atiSaveButton, 
.slide-in-sidebar .atiDeleteButton {
    float: left;
    margin: 0.2em !important;
}
