<div>
  <div class="navbar navbar-inverse navbar-fixed-top" >
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Address Point Editor</a>
    </div>
    <div class="collapse navbar-collapse navbar-main-collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" id='suggest-change-dropdown' class='dropdown-toggle' data-toggle='dropdown'><span class="glyphicon glyphicon-pencil"></span> Suggest Change</a>
          <div class='dropdown-menu'>
            <div data-dojo-attach-point="suggestChangeDiv"></div>
          </div>
        </li>
        <li class="dropdown">
          <a href="#" class='dropdown-toggle' data-toggle='dropdown'><span class="glyphicon glyphicon-map-marker"></span> Find Address</a>
          <div class='dropdown-menu'>
            <div data-dojo-attach-point="findAddressDiv"></div>
          </div>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" href="#" data-toggle='dropdown'><span class="glyphicon glyphicon-globe"></span> Find Place</a>
          <div class='dropdown-menu'>
            <form onsubmit='return false;'>
              <div data-dojo-attach-point="magicZoomDiv"></div>
            </form>
          </div>
        </li> 
        <li class="dropdown">
          <a class="dropdown-toggle" href="#" data-toggle='dropdown'><span class="glyphicon glyphicon-cloud-download"></span> Download</a>
          <div class='dropdown-menu'>
            <div data-dojo-attach-point="downloadDiv"></div>
          </div>
        </li> 
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-link"></span> Links <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">About</a></li>
            <li><a href="#">SGID</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">911 Registration</a></li>
          </ul>
        </li>
        <li>
          <div data-dojo-attach-point="logoutDiv"></div>
        </li>
      </ul>
    </div>
  </div>
  <div data-dojo-attach-point="mapDiv" class="map-div"></div>
  <div data-dojo-attach-point='sideBarNode'></div>

  <div data-dojo-attach-point="toasterNode">
</div>
</div>