<div>
  <div class="navbar navbar-inverse navbar-fixed-top" >
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Address Point Editor</a>
    </div>
    <div class="collapse navbar-collapse navebar-main-collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" id='suggest-change-dropdown' class='dropdown-toggle' data-toggle='dropdown'>Suggest Change <b class="caret"></b></a>
          <div class='dropdown-menu'>
            <div data-dojo-attach-point="suggestChangeDiv"></div>
          </div>
        </li>
        <li class="dropdown">
          <a href="#" class='dropdown-toggle' data-toggle='dropdown'>Find Address <b class="caret"></b></a>
          <div class='dropdown-menu'>
            <div data-dojo-attach-point="findAddressDiv"></div>
          </div>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" href="#" data-toggle='dropdown'>Find Place <b class="caret"></b></a>
          <div class='dropdown-menu'>
            <div data-dojo-attach-point="magicZoomDiv"></div>
          </div>
        </li> 
        <li class="dropdown">
          <a href="#" class='dropdown-toggle' data-toggle='dropdown' data-dojo-attach-point="leaderboardDiv"></a>
          <div class='dropdown-menu'>
            <div data-dojo-attach-point="leaderboardContentDiv"></div>
          </div>
        </li>
        <li>
          <a data-toggle="modal" href="#loginModal">Login</a>
        </li>
        <li class="dropdown">
          <a data-toggle="dropdown">Links <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">About</a></li>
            <li><a href="#">SGID</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">911 Registration</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div data-dojo-attach-point="mapDiv" class="map-div"></div>
  <div data-dojo-attach-point='sideBar'></div>

  <!-- Modal -->
  <div class="modal fade" id="loginModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Login</h4>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="loginEmail">Email address</label>
              <input type="text" class="form-control" id="loginEmail" placeholder="Enter email" data-required>
            </div>
            <div class="form-group">
              <label for="loginPassword">Password</label>
              <input type="password" class="form-control" id="loginPassword" placeholder="Password" data-required>
            </div>
          </form>
        </div>
        <div class="modal-footer">
         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         <a href="#registerModal" class="btn btn-warning" data-toggle="modal" data-dismiss="modal">Register</a>
         <button type="submit" class="btn btn-success">Sign in</button>
       </div>
     </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
 </div><!-- /.modal -->
 <div class="modal fade" id="registerModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Register</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="registerEmail">Email address</label>
            <input type="text" class="form-control" id="registerEmail" placeholder="Enter email" data-required>
          </div>
          <div class="form-group">
            <label for="registerPassword">Password</label>
            <input type="password" class="form-control" id="registerPassword" placeholder="Password" data-required>
            <label for="registerPassword2">Password</label>
            <input type="password" class="form-control" id="registerPassword2" placeholder="Password" data-required>
          </div>
          <div class="form-group">
            <label for="registerAgency">Agency</label>
            <input type="text" class="form-control" id="registerAgency" placeholder="Enter Company" data-required>
          </div>
          <div class="form-group">
            <label for="registerPosition">Position <span class="label label-info">Optional</span></label>
            <input type="text" class="form-control" id="registerPosition" placeholder="Job Title">
          </div>
        </form>
      </div>
      <div class="modal-footer">
       <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
       <button type="submit" class="btn btn-success">Sign in</button>
     </div>
   </div><!-- /.modal-content -->
 </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</div>