<div>
    <div data-dojo-attach-point='mainContainer' class='main-container' data-dojo-type='dijit.layout.BorderContainer'>
        <div class='title-pane' data-dojo-type='dijit.layout.ContentPane' region='top'>
            <h1>
                <span class='title'>Address Points (beta)</span>
                <a data-dojo-attach-point='version' class='version' href='ChangeLog.html' target="_blank"></a>
            </h1>
        </div>
        <div data-dojo-attach-point='sideBar' class='side-bar' data-dojo-type='dijit.layout.ContentPane' region='left'>
            <div class='side-bar-sizer'>
                <div class='padder'>
                    <ol>
                        <li>Choose a county</li>
                        <li>Edit Points</li>
                        <li></li>
                        <li></li>
                    </ol>
                </div>
                
                <div data-dojo-attach-point='paneStackContainer'>
                    <!-- <div title='Pane 1'>
                        <div data-dojo-attach-point='editorContainer'></div>
                    </div> -->
                </div>
                <div data-dojo-attach-point="test"></div>
                <div data-dojo-attach-point="test2"></div>
            </div>
        </div>
        <div data-dojo-attach-point='centerContainer' class='center-container' data-dojo-type='dijit.layout.ContentPane' region='center'>
            <div data-dojo-attach-point='sidebarToggle'></div>
            <div data-dojo-attach-point='mapDiv' class='map-div'></div>
        </div>
    </div>
</div>