<div>
    <form method="post" action="" data-dojo-attach-point="downloadForm" data-dojo-attach-event='submit: validate'>
        <div data-dojo-type="dijit/layout/StackContainer" style="padding: 0px 9px;" data-dojo-attach-point="sc">
            <div data-dojo-type="dijit/layout/ContentPane" data-dojo-attach-point="cp1">
             <div class="form-group">
                <label>What coordinate system would you like?</label>
                <label class='help-block'>State Plane</label>
                <div class="btn-toolbar">
                  <div class="btn-group">
                      <button type="button" class="btn btn-default" data-prop="system" data-system="stateplane_north" data-dojo-attach-event="click: setDownloadFilter">North</button>
                      <button type="button" class="btn btn-default" data-prop="system" data-system="stateplane_central" data-dojo-attach-event="click: setDownloadFilter">Central</button>
                      <button type="button" class="btn btn-default" data-prop="system" data-system="stateplane_south" data-dojo-attach-event="click: setDownloadFilter">South</button>
                  </div>
                  <div class="btn-group">
                      <button type="button" class="btn btn-default" data-prop="system" data-system="utm12" data-dojo-attach-event="click: setDownloadFilter">UTM Zone 12 North</button>
                  </div>
              </div>
          </div>
      </div>
      <div data-dojo-type="dijit/layout/ContentPane" data-dojo-attach-point="cp2">
        <div class="form-group">
            <label>What format would you like?</label>
            <div class="btn-group">
              <button type="button" class="btn btn-default" data-prop="type" data-type="shapefile" data-dojo-attach-event="click: setDownloadFilter">Shapefile</button>
              <button type="button" class="btn btn-default" data-prop="type" data-type="fgdb" data-dojo-attach-event="click: setDownloadFilter">File Geodatabase</button>
          </div>
      </div>
  </div>
  <div data-dojo-type="dijit/layout/ContentPane" data-dojo-attach-point="cp3">
    <div class="form-group">
        <label>What counties data would you like?</label>
        <select class="form-control" data-prop="county" data-dojo-attach-event="change: setDownloadFilter" data-dojo-attach-point='countySelect' style="width: 95%">
            <option value="">Select a County</option>
        </select>
    </div>
</div>
</div>
<div class='highlight text-center hidden' data-dojo-attach-point="backButton">
    <button type="button" class="btn btn-default" data-dojo-attach-event="click: back">Back</button>
    <button type="submit" class="btn btn-success" data-dojo-attach-point="submitButton" disabled="true" class="hidden">Download</a>
</div>
<input type="hidden" data-dojo-attach-point="systemHidden" name="system"/>
<input type="hidden" data-dojo-attach-point="typeHidden" name="type"/>
<input type="hidden" data-dojo-attach-point="countyHidden" name="county"/>
</form>
</div>