<div>
    <div data-dojo-attach-point="pointButton" data-dojo-attach-event='click: activatePointDrawing' class="editor-divider"><span class="glyphicon glyphicon-map-marker"></span> Point</div>
    <div data-dojo-attach-point="moveButton" data-dojo-attach-event='click: activateEditing' class="editor-divider"><span class="glyphicon glyphicon-move"></span> <span data-dojo-attach-point="moveTextNode">Move</span></div>
    <div data-dojo-attach-point="undo" class="editor-divider"><span class="glyphicon glyphicon-arrow-left"></span> Undo</div>
    <div data-dojo-attach-point="redo"><span class="glyphicon glyphicon-arrow-right"></span> Redo</div>
</div>
