<div>
    <div data-dojo-attach-point='dlNode'>
        <dl class='dl-horizontal'>
            <dt>Parcel Id</dt>
            <dd data-dojo-attach-point='parcelIdNode'></dd>
            <dt>Address</dt>
            <dd data-dojo-attach-point='addressNode'></dd>
            <dt>Geocoded</dt>
            <dd data-dojo-attach-point='reverseNode'></dd>
            <dt>City</dt>
            <dd data-dojo-attach-point='cityNode'></dd>
            <dt>Zip Code</dt>
            <dd data-dojo-attach-point='zipNode'></dd>
            <dt>Ownership</dt>
            <dd data-dojo-attach-point='ownershipNode'></dd>
            <dt>x</dt>
            <dd data-dojo-attach-point='xNode'></dd>
            <dt>y</dt>
            <dd data-dojo-attach-point='yNode'></dd>
        </dl>
    </div>
    <div class='clearfix'></div>
    <span class='alert alert-danger text-center' data-dojo-attach-point='messageNode'></span>
</div>
